html, body {
    height: 100%;
    margin: 0;
}

.all {
    min-height: 100%;
    margin-bottom: -50px;
}

body {
    color: #777777;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url("../images/interlaced.png");
    line-height: 150%;
}

h1, h2 {
    font-family: Georgia, Times, 'Times New Roman', serif;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 28px;
    color: #4aaaa5; 
}

.header, .main, .mainContent {
    background-color: #ffffff;
}

.header {
    width: 100%;
    height: 50px;
    margin: 50px 0 30px 0;
    padding: auto;
    border-color: #cccccc;
}

.name, #submit, h4, .select {
    color: white;
    background-color: #4aaaa5;
}

.name {
    text-align: center;
    width: max-content;
    padding: 13px;
    float: left;
}

.navBar {
    float: right;
    padding-top: 15px;
    color: #cccccc;
}

.navLink {
    color: #cccccc;
    text-decoration: none;
    margin: 5px;
}

a:hover {
    background: darkslategray;
    padding: 13px;
}

.select {
    color: white;
    text-align: center;
    width: max-content;
    padding: 13px;
}

.main, .headerContent {
    margin: 0 auto;
    width: 960px;
}

hr {
    margin-right: 10px;
}

.main {
    clear: both;
    overflow: auto;
    border-color: #dddddd;
    padding: 20px 0 0 20px;
    margin-bottom: 100px;
}

.mainContent {
    overflow: auto;
    padding: 10px 0;
}

#mainImage {
    width: 200px;
    height: 200px;
    margin-right: 20px;
    float: left;
}

.text {
    margin-right: 20px;
    padding: 0;
}

.firstSample, .secondSample, .thirdSample, .fourthSample, .fifthSample {
    float: left;
    margin: 40px;
}

.sample {
    position: relative;
    width: 250px;
    height: 250px;
}

.firstSample {
    background-image: url("../images/proj1.jpg");
}

.secondSample {
    background-image: url("../images/proj2.jpg");
}

.thirdSample {
    background-image: url("../images/proj3.jpg");
}
.fourthSample {
    background-image: url("../images/proj4.jpg");
}
.fifthSample {
    background-image: url("../images/proj5.jpg");
}

h4 {
    text-align: center;
    position: absolute;
    width: 230px;
    bottom: 7px;
    margin: 0;
    padding: 10px;
    z-index: 1;
}

input {
    width: 920px;
    padding-right: 10px;
}

input[type=text], input[type=email] {
    padding: 10px;
}

input[type=submit] {
    width: max-content;
}

.messageBox {
    height: 200px;
}

#submit {
    padding: 5px 10px;
    margin-top: 10px;
}

.push, footer {
    height: 50px;
}

footer {
    clear: both;
    overflow: auto;
    text-align: center;
    color: #948888;
    background-color: #666666;
    border-top: #4aaaa5 solid 8px;
    width: 100%;
    height: 50px;
}